html {
    scroll-behavior: smooth;
}

a,
svg,
button {
    transition: 0.3s all;
}

input,
textarea,
button,
a {
    font-family: inherit;
}

a {
    color: inherit;
}

button {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 375px;
    font-size: 16px;
    line-height: 1 !important;
    color: $c-dark;
    overflow-x: hidden;
}

svg {
    display: flex;
    width: 24px;
    height: 24px;
}

*[disabled] {
    opacity: .6 !important;
    pointer-events: none !important;
}

.showScrollElement {
    bottom: 16px !important;
    transition: .4s ease-in-out;
}

.mobile-limitation {
    &-1 {
        @include r($md) {
            & > *:nth-child(1n + 2) {
                display: none;
            }
        }
    }
    &-2 {
        @include r($md) {
            & > *:nth-child(1n + 3) {
                display: none;
            }
        }
    }
    &-3 {
        @include r($md) {
            & > *:nth-child(1n + 4) {
                display: none;
            }
        }
    }
    &-4 {
        @include r($md) {
            & > *:nth-child(1n + 5) {
                display: none;
            }
        }
    }
    &-5 {
        @include r($md) {
            & > *:nth-child(1n + 6) {
                display: none;
            }
        }
    }
}