.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
  pointer-events: none;
  z-index: 4;

  @include r($md) {
    background: linear-gradient(180.49deg, #DEEDFB 11%, rgba(222, 237, 251, 0) 16%);
  }

  &__backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    min-height: 1200px;
    background-color: $c-transparent;
    backdrop-filter: blur(5px);
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s linear, visibility .2s linear;
    pointer-events: auto;
    z-index: 0;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}