.nav {
  gap: 10px;
  pointer-events: auto;

  &__link {
    padding: 6px 14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.84px;
    letter-spacing: -0.014em;
    color: $c-dark80;
    text-decoration: none;

    @include r($xxl) {
      font-size: 13px;
    }
  }
}