.nav {
  gap: 10px;
  pointer-events: auto;

  &__link {
    padding: 6px 14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.84px;
    letter-spacing: -0.014em;
    color: $c-dark80;
    text-decoration: none;

    &:hover,
    &:active {
      background-color: $c-lightBlue;
      border-color: $c-dark40
    }

    @include r($xxl) {
      font-size: 13px;
    }

    &.active {
      background-color: $c-lightBlue;
      border-color: $c-dark40
    }
  }

  &--light {
    .nav__link {
      color: $c-white80;
    }
  }
}