.page-navigation {
  position: relative;
  margin: auto 0 56px 0;
  padding: 0 0 0 6px;
  pointer-events: auto;

  @include r($xl) {
    display: none !important;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__scroll {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 2px;
    height: 100%;
    border-radius: 2px;
    background-color: $c-dark10;
  }

  &__slider {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 2px;
    height: 0;
    border-radius: 2px;
    background-color: $c-dark80;
    transition: .2s linear;
  }

  &__item {
    &.active {
      .page-navigation__link {
        font-weight: 500;
        color: $c-dark80;

        &:hover {
          color: $c-dark90;
        }
      }
    }
  }

  &__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: -0.014em;
    text-decoration: none;
    color: $c-dark40;

    @include r($xxl) {
      font-size: 13px;
    }

    &:hover {
      color: $c-dark90;
    }
  }
}