<!DOCTYPE html>
<html lang="ru">

<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body bg-body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main main--page">
  <div class="container">
    <div class="row">
      <div class="col-2 d-lg-none d-xl-block"></div>
      <div class="col-xl-9 col-lg-12">
        <section class="section" id="first">
          <div class="row">
            <div class="col-9">
              <h1 class="title">Австралийская овчарка</h1>
            </div>
          </div>
          <div class="row flex-sm-column flex-md-row">
            <div class="col-lg-4 col-md-5 col-sm-12 mb-sm-3 mb-md-0">
              <div class="swiper" data-slider="single">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="article-card-preview">
                      <picture class="article-card-preview__picture">
                        <img src="./assets/images/dog.png" alt="">
                      </picture>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="article-card-preview">
                      <picture class="article-card-preview__picture">
                        <img src="./assets/images/dog.png" alt="">
                      </picture>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="article-card-preview">
                      <picture class="article-card-preview__picture">
                        <img src="./assets/images/dog.png" alt="">
                      </picture>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="article-card-preview">
                      <picture class="article-card-preview__picture">
                        <img src="./assets/images/dog.png" alt="">
                      </picture>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="article-card-preview">
                      <picture class="article-card-preview__picture">
                        <img src="./assets/images/dog.png" alt="">
                      </picture>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="article-card-preview">
                      <picture class="article-card-preview__picture">
                        <img src="./assets/images/dog.png" alt="">
                      </picture>
                    </div>
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
            <div class="col-lg-8 col-md-7 col-sm-12">
              <div class="article-card mb-4">
                <div class="editor">
                  <p>
                    Окрас шерсти может быть различным, однако наиболее распространёнными вариациями являются чёрный
                    триколор, красный или голубой мрамор с подпалом или без него, коричневый триколор.
                  </p>
                  <p>
                    Шерсть густая, с обильным подшёрстком, умеренно жёсткая на шее и груди. Мочка носа чёрная или
                    коричневая, у собак мраморного окраса допускаются розовые пятна. Конечности широкие, крепкие, с
                    умеренной ангуляцией, обеспечивают хорошую опору. Тело умеренной длины, крепкое.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-sm-12 mb-sm-3 mb-lg-0">
                  <div class="article-card">
                    <div class="article-info">
                      <h3 class="article-info__title mb-3">Комплексный анализ на заболевания</h3>
                      <div class="article-info__tags">
                        <a href="#" class="tag tag--dark">Локус А (классический)</a>
                        <a href="#" class="tag tag--dark">Локус D (осветление окраса)</a>
                        <a href="#" class="tag tag--dark">Локус А </a>
                        <a href="#" class="tag tag--dark">Локус А (расширенный)</a>
                      </div>
                      <p class="article-info__text article-info__text--small">Срок выполнения:</p>
                      <p class="article-info__text mb-4"><strong>3-5</strong> рабочих дней</p>
                      <div class="price mb-20">
                        <p class="price__text">2150.00 ₽</p>
                        <p class="price__text price__text--old">2990.00 ₽</p>
                      </div>
                    </div>
                    <button class="button button--accent">Добавить в корзину</button>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="article-card">
                    <div class="article-info">
                      <h3 class="article-info__title mb-3">Комплексный анализ на заболевания</h3>
                      <div class="article-info__tags">
                        <a href="#" class="tag tag--dark">Локус А (классический)</a>
                        <a href="#" class="tag tag--dark">Локус D (осветление окраса)</a>
                        <a href="#" class="tag tag--dark">Локус А </a>
                        <a href="#" class="tag tag--dark">Локус А (расширенный)</a>
                      </div>
                      <p class="article-info__text article-info__text--small">Срок выполнения:</p>
                      <p class="article-info__text mb-4"><strong>3-5</strong> рабочих дней</p>
                      <div class="price mb-20">
                        <p class="price__text">2150.00 ₽</p>
                        <p class="price__text price__text--old">2990.00 ₽</p>
                      </div>
                    </div>
                    <button class="button button--accent">Добавить в корзину</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section" id="second">
          <div class="row">
            <div class="col-9">
              <h2 class="title">Рекомендуемые анализы</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="tags-list mb-4">
                <a href="#" class="tag">Наборы для анализов</a>
                <a href="#" class="tag">Локус D</a>
                <a href="#" class="tag">Локус B</a>
                <a href="#" class="tag">Локус E</a>
                <a href="#" class="tag">Локус E</a>
                <a href="#" class="tag">Локус E</a>
                <a href="#" class="tag">Локус E</a>
              </div>
              <div class="swiper swiper--auto swiper--default" data-slider="auto">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="article-card article-card--slim">
                      <div class="article-card__top">
                        <p class="tag">Новый</p>
                        <p class="tag tag--accent">Заболевания</p>
                        <a href="#" class="tag tag--link">
                          <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-top-right"></use>
                          </svg>
                        </a>
                      </div>
                      <div class="article-card__inner article-info">
                        <h3 class="article-info__title mb-5 text-overflow text-overflow--4">
                          Локус I (интенсивность желто-красного пигмента волоса) Локус I (интенсивность желто-красного
                          пигмента волоса)
                        </h3>
                        <p class="article-info__text article-info__text--small">Срок выполнения:</p>
                        <p class="article-info__text mb-4"><strong>3-5</strong> рабочих дней</p>
                        <div class="price">
                          <p class="price__text">2150.00 ₽</p>
                          <p class="price__text price__text--old">2990.00 ₽</p>
                        </div>
                      </div>
                      <button class="button button--accent">Добавить в корзину</button>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="article-card article-card--slim">
                      <div class="article-card__top">
                        <p class="tag">Новый</p>
                        <p class="tag tag--accent">Заболевания</p>
                        <a href="#" class="tag tag--link">
                          <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-top-right"></use>
                          </svg>
                        </a>
                      </div>
                      <div class="article-card__inner article-info">
                        <h3 class="article-info__title mb-5 text-overflow text-overflow--4">
                          Локус I (интенсивность желто-красного пигмента волоса) Локус I (интенсивность желто-красного
                          пигмента волоса)
                        </h3>
                        <p class="article-info__text article-info__text--small">Срок выполнения:</p>
                        <p class="article-info__text mb-4"><strong>3-5</strong> рабочих дней</p>
                        <div class="price">
                          <p class="price__text">2150.00 ₽</p>
                          <p class="price__text price__text--old">2990.00 ₽</p>
                        </div>
                      </div>
                      <button class="button button--accent">Добавить в корзину</button>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="article-card article-card--slim">
                      <div class="article-card__top">
                        <p class="tag">Новый</p>
                        <p class="tag tag--accent">Заболевания</p>
                        <a href="#" class="tag tag--link">
                          <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-top-right"></use>
                          </svg>
                        </a>
                      </div>
                      <div class="article-card__inner article-info">
                        <h3 class="article-info__title mb-5 text-overflow text-overflow--4">
                          Локус I (интенсивность желто-красного пигмента волоса) Локус I (интенсивность желто-красного
                          пигмента волоса)
                        </h3>
                        <p class="article-info__text article-info__text--small">Срок выполнения:</p>
                        <p class="article-info__text mb-4"><strong>3-5</strong> рабочих дней</p>
                        <div class="price">
                          <p class="price__text">2150.00 ₽</p>
                          <p class="price__text price__text--old">2990.00 ₽</p>
                        </div>
                      </div>
                      <button class="button button--accent">Добавить в корзину</button>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="article-card article-card--slim">
                      <div class="article-card__top">
                        <p class="tag">Новый</p>
                        <p class="tag tag--accent">Заболевания</p>
                        <a href="#" class="tag tag--link">
                          <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-top-right"></use>
                          </svg>
                        </a>
                      </div>
                      <div class="article-card__inner article-info">
                        <h3 class="article-info__title mb-5 text-overflow text-overflow--4">
                          Локус I (интенсивность желто-красного пигмента волоса) Локус I (интенсивность желто-красного
                          пигмента волоса)
                        </h3>
                        <p class="article-info__text article-info__text--small">Срок выполнения:</p>
                        <p class="article-info__text mb-4"><strong>3-5</strong> рабочих дней</p>
                        <div class="price">
                          <p class="price__text">2150.00 ₽</p>
                          <p class="price__text price__text--old">2990.00 ₽</p>
                        </div>
                      </div>
                      <button class="button button--accent">Добавить в корзину</button>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="article-card article-card--slim">
                      <div class="article-card__top">
                        <p class="tag">Новый</p>
                        <p class="tag tag--accent">Заболевания</p>
                        <a href="#" class="tag tag--link">
                          <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-top-right"></use>
                          </svg>
                        </a>
                      </div>
                      <div class="article-card__inner article-info">
                        <h3 class="article-info__title mb-5 text-overflow text-overflow--4">
                          Локус I (интенсивность желто-красного пигмента волоса) Локус I (интенсивность желто-красного
                          пигмента волоса)
                        </h3>
                        <p class="article-info__text article-info__text--small">Срок выполнения:</p>
                        <p class="article-info__text mb-4"><strong>3-5</strong> рабочих дней</p>
                        <div class="price">
                          <p class="price__text">2150.00 ₽</p>
                          <p class="price__text price__text--old">2990.00 ₽</p>
                        </div>
                      </div>
                      <button class="button button--accent">Добавить в корзину</button>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="article-card article-card--slim">
                      <div class="article-card__top">
                        <p class="tag">Новый</p>
                        <p class="tag tag--accent">Заболевания</p>
                        <a href="#" class="tag tag--link">
                          <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-top-right"></use>
                          </svg>
                        </a>
                      </div>
                      <div class="article-card__inner article-info">
                        <h3 class="article-info__title mb-5 text-overflow text-overflow--4">
                          Локус I (интенсивность желто-красного пигмента волоса) Локус I (интенсивность желто-красного
                          пигмента волоса)
                        </h3>
                        <p class="article-info__text article-info__text--small">Срок выполнения:</p>
                        <p class="article-info__text mb-4"><strong>3-5</strong> рабочих дней</p>
                        <div class="price">
                          <p class="price__text">2150.00 ₽</p>
                          <p class="price__text price__text--old">2990.00 ₽</p>
                        </div>
                      </div>
                      <button class="button button--accent">Добавить в корзину</button>
                    </div>
                  </div>
                </div>
                <div class="swiper-info">
                  <a class="button button--icon button--small button--dark" href="#">
                    Все тесты
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                    </svg>
                  </a>
                  <div class="swiper-control">
                    <button class="slider-btn slider-btn--prev">
                      <svg>
                        <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-slim-right"></use>
                      </svg>
                    </button>
                    <button class="slider-btn slider-btn--next">
                      <svg>
                        <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-slim-right"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section" id="third">
          <div class="row">
            <div class="col-9">
              <h2 class="title">Наследственные заболевания</h2>
            </div>
          </div>
          <div class="row row-gap-2">
            <div class="col-12">
              <article class="article-faq transparent" data-toggle>
                <div class="article-faq__top">
                  <h3 class="article-faq__title">
                    Длина шерсти ("Флаффи")
                  </h3>
                  <button class="article-faq__icon">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__content" data-toggle-inner>
                  <div class="editor">
                    <p>
                      Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                      такие собаки имеют коричневый/шоколадный окрас.Наша лаборатория проводит тесты на три варианта
                      аллеля b: bs, bd и bc, которые встречаются во многих породах.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12">
              <article class="article-faq transparent" data-toggle>
                <div class="article-faq__top">
                  <h3 class="article-faq__title">
                    Курчавость шерсти
                  </h3>
                  <button class="article-faq__icon">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__content" data-toggle-inner>
                  <div class="editor">
                    <p>
                      Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                      такие собаки имеют коричневый/шоколадный окрас.Наша лаборатория проводит тесты на три варианта
                      аллеля b: bs, bd и bc, которые встречаются во многих породах.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12">
              <article class="article-faq transparent" data-toggle>
                <div class="article-faq__top">
                  <h3 class="article-faq__title">
                    Длина шерсти на морде / Improper coat
                  </h3>
                  <button class="article-faq__icon">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__content" data-toggle-inner>
                  <div class="editor">
                    <p>
                      Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                      такие собаки имеют коричневый/шоколадный окрас.Наша лаборатория проводит тесты на три варианта
                      аллеля b: bs, bd и bc, которые встречаются во многих породах.
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </section>
        <section class="section" id="fourth">
          <div class="row">
            <div class="col-9">
              <h2 class="title">Окрасы</h2>
            </div>
          </div>
          <div class="row row-gap-2">
            <div class="col-12">
              <article class="article-faq transparent" data-toggle>
                <div class="article-faq__top">
                  <h3 class="article-faq__title">
                    Локус E (наличие и протяженность черной пигментации по поверхности туловища)
                  </h3>
                  <button class="article-faq__icon">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__content" data-toggle-inner>
                  <div class="editor editor--faq">
                    <p>
                      Локус В участвует в формировании черного пигмента. Аллель В (дикого типа) – доминантный, у
                      носителей этого аллеля (генотипы B/B и B/b) механизм формирования черного пигмента не нарушен.
                    </p>
                    <p>
                      Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                      такие собаки имеют коричневый/шоколадный окрас.Наша лаборатория проводит тесты на три варианта
                      аллеля b: bs, bd и bc, которые встречаются во многих породах.
                    </p>
                    <p>
                      <a href="#">Для породы австралийская овчарка доступен тест на аллель b-AS, который связан с
                        красным окрасом в этой породе.</a>
                    </p>
                    <p>
                      Возможные генотипы собаки:
                    </p>
                    <blockquote>
                      <a href="#">B/B - </a>
                      <p> не несет аллеля рецессивного коричневого окраса. Возможно формирование черной</p>
                    </blockquote>
                    <blockquote>
                      <a href="#">B/B - </a>
                      <p> не несет аллеля рецессивного коричневого окраса. Возможно формирование черной</p>
                    </blockquote>
                    <blockquote>
                      <a href="#">B/B - </a>
                      <p> не несет аллеля рецессивного коричневого окраса. Возможно формирование черной</p>
                    </blockquote>
                    <p>
                      <span>Срок выполнения:</span><br />
                      <strong>3-5</strong> рабочих дней
                    </p>
                    <b>Стоимость: 2150 руб</b>
                    <br/>
                    <br/>
                    <br/>
                    <button class="button button--auto button--accent">Добавить в корзину</button>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12">
              <article class="article-faq transparent" data-toggle>
                <div class="article-faq__top">
                  <h3 class="article-faq__title">
                    Локус B (черный / коричневый / красный)
                  </h3>
                  <button class="article-faq__icon">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__content" data-toggle-inner>
                  <div class="editor">
                    <p>
                      Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                      такие собаки имеют коричневый/шоколадный окрас.Наша лаборатория проводит тесты на три варианта
                      аллеля b: bs, bd и bc, которые встречаются во многих породах.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12">
              <article class="article-faq transparent" data-toggle>
                <div class="article-faq__top">
                  <h3 class="article-faq__title">
                    Локус D (осветление окраса)
                  </h3>
                  <button class="article-faq__icon">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__content" data-toggle-inner>
                  <div class="editor">
                    <p>
                      Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                      такие собаки имеют коричневый/шоколадный окрас.Наша лаборатория проводит тесты на три варианта
                      аллеля b: bs, bd и bc, которые встречаются во многих породах.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12">
              <article class="article-faq transparent" data-toggle>
                <div class="article-faq__top">
                  <h3 class="article-faq__title">
                    Локус А (классический)
                  </h3>
                  <button class="article-faq__icon">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__content" data-toggle-inner>
                  <div class="editor">
                    <p>
                      Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                      такие собаки имеют коричневый/шоколадный окрас.Наша лаборатория проводит тесты на три варианта
                      аллеля b: bs, bd и bc, которые встречаются во многих породах.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12">
              <article class="article-faq transparent" data-toggle>
                <div class="article-faq__top">
                  <h3 class="article-faq__title">
                    Локус А (расширенный)
                  </h3>
                  <button class="article-faq__icon">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__content" data-toggle-inner>
                  <div class="editor">
                    <p>
                      Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                      такие собаки имеют коричневый/шоколадный окрас.Наша лаборатория проводит тесты на три варианта
                      аллеля b: bs, bd и bc, которые встречаются во многих породах.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12">
              <article class="article-faq transparent" data-toggle>
                <div class="article-faq__top">
                  <h3 class="article-faq__title">
                    Локус K (доминантный черный)
                  </h3>
                  <button class="article-faq__icon">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__content" data-toggle-inner>
                  <div class="editor">
                    <p>
                      Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                      такие собаки имеют коричневый/шоколадный окрас.Наша лаборатория проводит тесты на три варианта
                      аллеля b: bs, bd и bc, которые встречаются во многих породах.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12">
              <article class="article-faq transparent" data-toggle>
                <div class="article-faq__top">
                  <h3 class="article-faq__title">
                    Локус S (белая пятнистость)
                  </h3>
                  <button class="article-faq__icon">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__content" data-toggle-inner>
                  <div class="editor">
                    <p>
                      Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                      такие собаки имеют коричневый/шоколадный окрас.Наша лаборатория проводит тесты на три варианта
                      аллеля b: bs, bd и bc, которые встречаются во многих породах.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12">
              <article class="article-faq transparent" data-toggle>
                <div class="article-faq__top">
                  <h3 class="article-faq__title">
                    Локус M (мерль)
                  </h3>
                  <button class="article-faq__icon">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__content" data-toggle-inner>
                  <div class="editor">
                    <p>
                      Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                      такие собаки имеют коричневый/шоколадный окрас.Наша лаборатория проводит тесты на три варианта
                      аллеля b: bs, bd и bc, которые встречаются во многих породах.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12">
              <article class="article-faq transparent" data-toggle>
                <div class="article-faq__top">
                  <h3 class="article-faq__title">
                    Ген "какао" французских бульдогов
                  </h3>
                  <button class="article-faq__icon">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__content" data-toggle-inner>
                  <div class="editor">
                    <p>
                      Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                      такие собаки имеют коричневый/шоколадный окрас.Наша лаборатория проводит тесты на три варианта
                      аллеля b: bs, bd и bc, которые встречаются во многих породах.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12">
              <article class="article-faq transparent" data-toggle>
                <div class="article-faq__top">
                  <h3 class="article-faq__title">
                    Локус H (арлекин)
                  </h3>
                  <button class="article-faq__icon">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__content" data-toggle-inner>
                  <div class="editor">
                    <p>
                      Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                      такие собаки имеют коричневый/шоколадный окрас.Наша лаборатория проводит тесты на три варианта
                      аллеля b: bs, bd и bc, которые встречаются во многих породах.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12">
              <article class="article-faq transparent" data-toggle>
                <div class="article-faq__top">
                  <h3 class="article-faq__title">
                    Локус I (интенсивность желто-красного пигмента волоса)
                  </h3>
                  <button class="article-faq__icon">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__content" data-toggle-inner>
                  <div class="editor">
                    <p>
                      Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                      такие собаки имеют коричневый/шоколадный окрас.Наша лаборатория проводит тесты на три варианта
                      аллеля b: bs, bd и bc, которые встречаются во многих породах.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12">
              <article class="article-faq transparent" data-toggle>
                <div class="article-faq__top">
                  <h3 class="article-faq__title">
                    Локус С (альбинизм)
                  </h3>
                  <button class="article-faq__icon">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__content" data-toggle-inner>
                  <div class="editor">
                    <p>
                      Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                      такие собаки имеют коричневый/шоколадный окрас.Наша лаборатория проводит тесты на три варианта
                      аллеля b: bs, bd и bc, которые встречаются во многих породах.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12">
              <article class="article-faq transparent" data-toggle>
                <div class="article-faq__top">
                  <h3 class="article-faq__title">
                    Ген RALY
                  </h3>
                  <button class="article-faq__icon">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__content" data-toggle-inner>
                  <div class="editor">
                    <p>
                      Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                      такие собаки имеют коричневый/шоколадный окрас.Наша лаборатория проводит тесты на три варианта
                      аллеля b: bs, bd и bc, которые встречаются во многих породах.
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </section>
        <section class="section" id="fifth">
          <div class="row">
            <div class="col-9">
              <h2 class="title">Типы шерсти</h2>
            </div>
          </div>
          <div class="row row-gap-2">
            <div class="col-12">
              <article class="article-faq transparent" data-toggle>
                <div class="article-faq__top">
                  <h3 class="article-faq__title">
                    Длина шерсти ("Флаффи")
                  </h3>
                  <button class="article-faq__icon">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__content" data-toggle-inner>
                  <div class="editor">
                    <p>
                      Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                      такие собаки имеют коричневый/шоколадный окрас.Наша лаборатория проводит тесты на три варианта
                      аллеля b: bs, bd и bc, которые встречаются во многих породах.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12">
              <article class="article-faq transparent" data-toggle>
                <div class="article-faq__top">
                  <h3 class="article-faq__title">
                    Курчавость шерсти
                  </h3>
                  <button class="article-faq__icon">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__content" data-toggle-inner>
                  <div class="editor">
                    <p>
                      Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                      такие собаки имеют коричневый/шоколадный окрас.Наша лаборатория проводит тесты на три варианта
                      аллеля b: bs, bd и bc, которые встречаются во многих породах.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12">
              <article class="article-faq transparent" data-toggle>
                <div class="article-faq__top">
                  <h3 class="article-faq__title">
                    Длина шерсти на морде / Improper coat
                  </h3>
                  <button class="article-faq__icon">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__content" data-toggle-inner>
                  <div class="editor">
                    <p>
                      Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                      такие собаки имеют коричневый/шоколадный окрас.Наша лаборатория проводит тесты на три варианта
                      аллеля b: bs, bd и bc, которые встречаются во многих породах.
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>

</html>