<!DOCTYPE html>
<html lang="ru">

<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body bg-body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main main--page">
  <div class="container">
    <div class="row">
      <div class="col-2 d-lg-none d-xl-block"></div>
      <div class="col-xl-9 col-lg-12">
        <section class="section">
          <div class="row mb-md-60 mb-sm-3">
            <div class="col-md-9 col-sm-12">
              <h1 class="title">Каталог пород животных</h1>
              <p class="subtitle">Вводный текст по тестам. Вы можете воспользоваться алфавитным или стандартным
                поиском.</p>
            </div>
          </div>
          <div class="row mb-xxl-60 mb-lg-5 mb-md-4 mb-sm-3">
            <div class="col-12">
              <hr class="hr" />
            </div>
            <div class="col-md-4 col-sm-12">
              <form action="#" class="form-search form-search--cube">
                <label class="form-search__search-block transparent">
                  <input type="text" placeholder="Поиск" class="form-search__input">
                  <button type="submit" class="form-search__button">
                    <svg class="form-search__icon">
                      <use xlink:href="./assets/sprite/sprite.svg#icon-search"></use>
                    </svg>
                  </button>
                </label>
              </form>
            </div>
          </div>
          <div class="row row-gap-4 mb-40">
            <div class="col-xl-4 col-lg-3 col-md-4 col-sm-6">
              <article class="article-card-preview">
                <a href="#" class="article-card-preview__link tag tag--link">
                  <svg>
                    <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-top-right"></use>
                  </svg>
                </a>
                <picture class="article-card-preview__picture">
                  <img src="./assets/images/dog.png" alt="">
                </picture>
                <button class="article-card-preview__button button button--transparent button--dark">Австралийская
                  овчарка
                </button>
              </article>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-4 col-sm-6">
              <article class="article-card-preview">
                <a href="#" class="article-card-preview__link tag tag--link">
                  <svg>
                    <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-top-right"></use>
                  </svg>
                </a>
                <picture class="article-card-preview__picture">
                  <img src="./assets/images/dog.png" alt="">
                </picture>
                <button class="article-card-preview__button button button--transparent button--dark">Австралийская
                  овчарка
                </button>
              </article>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-4 col-sm-6">
              <article class="article-card-preview">
                <a href="#" class="article-card-preview__link tag tag--link">
                  <svg>
                    <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-top-right"></use>
                  </svg>
                </a>
                <picture class="article-card-preview__picture">
                  <img src="./assets/images/dog.png" alt="">
                </picture>
                <button class="article-card-preview__button button button--transparent button--dark">Австралийская
                  овчарка
                </button>
              </article>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-4 col-sm-6">
              <article class="article-card-preview">
                <a href="#" class="article-card-preview__link tag tag--link">
                  <svg>
                    <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-top-right"></use>
                  </svg>
                </a>
                <picture class="article-card-preview__picture">
                  <img src="./assets/images/dog.png" alt="">
                </picture>
                <button class="article-card-preview__button button button--transparent button--dark">Австралийская
                  овчарка
                </button>
              </article>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-4 col-sm-6">
              <article class="article-card-preview">
                <a href="#" class="article-card-preview__link tag tag--link">
                  <svg>
                    <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-top-right"></use>
                  </svg>
                </a>
                <picture class="article-card-preview__picture">
                  <img src="./assets/images/dog.png" alt="">
                </picture>
                <button class="article-card-preview__button button button--transparent button--dark">Австралийская
                  овчарка
                </button>
              </article>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-4 col-sm-6">
              <article class="article-card-preview">
                <a href="#" class="article-card-preview__link tag tag--link">
                  <svg>
                    <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-top-right"></use>
                  </svg>
                </a>
                <picture class="article-card-preview__picture">
                  <img src="./assets/images/dog.png" alt="">
                </picture>
                <button class="article-card-preview__button button button--transparent button--dark">Австралийская
                  овчарка
                </button>
              </article>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-5">
              <div class="pagination">
                <a href="#" class="pagination__button transparent"><<</a>
                <a href="#" class="pagination__button transparent"><</a>
                <a href="#" class="pagination__button active transparent">1</a>
                <a href="#" class="pagination__button transparent">2</a>
                <a href="#" class="pagination__button transparent">3</a>
                <a href="#" class="pagination__button pagination__button--closed transparent">...</a>
                <a href="#" class="pagination__button transparent">10</a>
                <a href="#" class="pagination__button transparent">></a>
                <a href="#" class="pagination__button transparent">>></a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>

</html>