.swiper {
  &--default {
    overflow: visible !important;
    .swiper-slide {
      opacity: 0;
      visibility: hidden;
      transition: .2s linear;
    }
    .swiper-slide-visible,
    .swiper-slide-visible ~ .swiper-slide {
      opacity: 1;
      visibility: visible;
    }

  }

  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 28px;
  }

  &-control {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

.slider {
  &-btn--prev {
    transform: rotate(180deg);
  }
}