.swiper {
  &--default {
    overflow: visible !important;

    .swiper-slide {
      opacity: 0;
      visibility: hidden;
      transition: .2s linear;
    }

    .swiper-slide-visible,
    .swiper-slide-visible ~ .swiper-slide {
      opacity: 1;
      visibility: visible;
    }
    &--xxl {
      @include r($xxl) {
        overflow: visible !important;

        .swiper-slide {
          opacity: 0;
          visibility: hidden;
          transition: .2s linear;
        }

        .swiper-slide-visible,
        .swiper-slide-visible ~ .swiper-slide {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &--auto {
    .swiper-slide {
      @include r($md) {
        max-width: 80%;
        margin-right: 16px;
      }

      &:last-of-type {
        @include r($md) {
          margin-right: 0;
        }
      }
    }
  }

  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 28px;
  }

  &-control {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.slider {
  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 48px;
    border: 1px solid $c-dark80;
    min-width: 44px;
    height: 44px;

    &:hover {
      border-color: $c-dark;
    }

    svg {
      width: 21px;
      height: 21px;
    }

    &--prev {
      transform: rotate(180deg);
    }
  }
}

.swiper-button-disabled {
  opacity: 0.6;
  pointer-events: none;
}

.swiper-pagination-bullet {
  margin: 0 4px;
  width: 6px;
  height: 6px;
}

.swiper-pagination-bullet-active {
  background-color: $c-navy;
}