<!DOCTYPE html>
<html lang="ru">

<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body bg-body">
<header class="header pe-none pt-4 position-fixed w-100 z-1">
  <div class="container">
    <div class="row d-flex justify-content-between align-items-center  pe-auto">
      <div class="col-2">
        <a href="#">
          <img src="./assets/images/logo.svg" alt="">
        </a>
      </div>
      <div class="col-4">
        <form action="#" class="w-100">
          <label class="d-flex justify-content-between w-100 form-control rounded-pill bg-light">
            <input type="text" placeholder="Поиск" class="w-100 border-0 bg-transparent">
            <button type="submit" class="border-0 bg-transparent">
              <svg>
                <use xlink:href="./assets/sprite/sprite.svg#icon-search"></use>
              </svg>
            </button>
          </label>
        </form>
      </div>
      <div class="col-2">
        <div class="d-flex justify-content-end gap-2">
          <button class="btn border p-2 rounded-circle bg-light">
            <svg>
              <use xlink:href="./assets/sprite/sprite.svg#icon-handbag"></use>
            </svg>
          </button>
          <button type="button" class="btn border p-2 rounded-circle bg-light">En</button>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-2">
        <nav class="d-flex flex-column align-items-start gap-2 pe-auto">
          <a class="btn border rounded-pill" href="#">Генетические тесты</a>
          <a class="btn border rounded-pill" href="#">Как сделать анализ</a>
          <a class="btn border rounded-pill" href="#">Заказ и отправка</a>
          <a class="btn border rounded-pill" href="#">Животные</a>
          <a class="btn border rounded-pill" href="#">Собаки</a>
          <a class="btn border rounded-pill" href="#">Кошки</a>
          <a class="btn border rounded-pill" href="#">Лошади</a>
          <a class="btn border rounded-pill" href="#">Птицы</a>
          <a class="btn border rounded-pill" href="#">Коровы</a>
          <a class="btn border rounded-pill" href="#">Другие</a>
          <a class="btn border rounded-pill" href="#">Контакты</a>
        </nav>
      </div>
    </div>
  </div>
</header>
<main class="main pt-5">
  <div class="container">
    <div class="row pt-5">
      <div class="col-2"></div>
      <div class="col-9 pt-5">
        <section class="pt-4">
          <div class="row mb-5 pb-3">
            <div class="col-9">
              <h1 class="h1">Локус B (черный/коричневый/красный)</h1>
            </div>
          </div>
          <div class="row gy-3">
            <div class="col-8">
              <div class="card border-0 p-3 bg-light">
                <p>
                  Локус В участвует в формировании черного пигмента. Аллель В (дикого типа) – доминантный, у носителей
                  этого аллеля (генотипы B/B и B/b) механизм формирования черного пигмента не нарушен.
                </p>
                <p>
                  Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                  такие собаки имеют коричневый/шоколадный окрас.Наша <a href="#">лаборатория</a> проводит тесты на три
                  варианта аллеля b: bs, bd и bc, которые встречаются во многих породах.
                </p>
                <p>
                  <a href="#">
                    Для породы австралийская овчарка доступен тест на аллель b-AS, который связан с красным окрасом в
                    этой породе.
                  </a>
                </p>
              </div>
            </div>
            <div class="col-4">
              <div class="card gap-3 border-0 p-3 bg-light">
                <div class="card border-0 p-3 bg-info">
                  <small>Срок выполнения:</small>
                  <p class="mb-4"><strong>3-5</strong> рабочих дней</p>
                  <div class="d-flex gap-2 align-items-baseline">
                    <p class="h4 text-black m-0">2150.00 ₽</p>
                    <p class="text-black text-decoration-line-through m-0">2990.00 ₽</p>
                  </div>
                </div>
                <button class="btn border fs-5 fw-medium pt-3 pb-3 lh-1">Оформить заказ</button>
              </div>
            </div>
            <div class="col-8">
              <div class="card border-0 p-3 bg-light">
                <p>Возможные генотипы собаки:</p>
                <ul class="list-unstyled d-flex flex-column gap-2">
                  <li class="pt-2 pb-2 ps-3 pe-3 bg-info">
                    <p class="m-0">
                      <strong>B/B -</strong> не несет аллеля рецессивного коричневого окраса. Возможно формирование
                      черной
                    </p>
                  </li>
                  <li class="pt-2 pb-2 ps-3 pe-3 bg-info">
                    <p class="m-0">
                      <strong>B/B -</strong> не несет аллеля рецессивного коричневого окраса. Возможно формирование
                      черной
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <section class="pt-5">
          <div class="row mt-5 mb-4">
            <div class="col-12 pt-5">
              <h2 class="h1 mt-2 mb-5 pb-2">С эти тестом заказывают</h2>
              <div class="d-flex gap-2">
                <a class="btn border p-2 bg-light text-uppercase" href="#">Наборы для анализов</a>
                <a class="btn border p-2 bg-light text-uppercase" href="#">Локус D</a>
                <a class="btn border p-2 bg-light text-uppercase" href="#">Локус B</a>
                <a class="btn border p-2 bg-light text-uppercase" href="#">Локус E</a>
                <a class="btn border p-2 bg-light text-uppercase" href="#">Локус E</a>
                <a class="btn border p-2 bg-light text-uppercase" href="#">Локус E</a>
                <a class="btn border p-2 bg-light text-uppercase" href="#">Локус E</a>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-4">
              <div class="card gap-3 border-0 p-3 bg-light">
                <div class="d-flex gap-2 align-items-center">
                  <div class="btn border p-2 bg-light text-uppercase">Новый</div>
                  <div class="btn btn-secondary border p-2 text-uppercase">Заболевания</div>
                  <a class="btn border p-2 ms-auto" href="#">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-top-right"></use>
                    </svg>
                  </a>
                </div>
                <div class="card border-0 p-3 bg-info">
                  <h3 class="fs-5 mb-5">Локус I (интенсивность желто-красного пигмента волоса) Локус I (интенсивность
                    желто-</h3>
                  <small>Срок выполнения:</small>
                  <p class="mb-4"><strong>3-5</strong> рабочих дней</p>
                  <div class="d-flex gap-2 align-items-baseline">
                    <p class="h4 text-black m-0">2150.00 ₽</p>
                    <p class="text-black text-decoration-line-through m-0">2990.00 ₽</p>
                  </div>
                </div>
                <button class="btn border fs-5 fw-medium pt-3 pb-3 lh-1">Оформить заказ</button>
              </div>
            </div>
            <div class="col-4">
              <div class="card gap-3 border-0 p-3 bg-light">
                <div class="d-flex gap-2 align-items-center">
                  <a class="btn border p-2 bg-light text-uppercase" href="#">Новый</a>
                  <a class="btn btn-secondary border p-2 text-uppercase" href="#">Заболевания</a>
                  <a class="btn border p-2 ms-auto" href="#">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-top-right"></use>
                    </svg>
                  </a>
                </div>
                <div class="card border-0 p-3 bg-info">
                  <h3 class="fs-5 mb-5">Локус I (интенсивность желто-красного пигмента волоса) Локус I (интенсивность
                    желто-</h3>
                  <small>Срок выполнения:</small>
                  <p class="mb-4"><strong>3-5</strong> рабочих дней</p>
                  <div class="d-flex gap-2 align-items-baseline">
                    <p class="h4 text-black m-0">2150.00 ₽</p>
                    <p class="text-black text-decoration-line-through m-0">2990.00 ₽</p>
                  </div>
                </div>
                <button class="btn border fs-5 fw-medium pt-3 pb-3 lh-1">Оформить заказ</button>
              </div>
            </div>
            <div class="col-4">
              <div class="card gap-3 border-0 p-3 bg-light">
                <div class="d-flex gap-2 align-items-center">
                  <a class="btn border p-2 bg-light text-uppercase" href="#">Новый</a>
                  <a class="btn btn-secondary border p-2 text-uppercase" href="#">Заболевания</a>
                  <a class="btn border p-2 ms-auto" href="#">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-top-right"></use>
                    </svg>
                  </a>
                </div>
                <div class="card border-0 p-3 bg-info">
                  <h3 class="fs-5 mb-5">Локус I (интенсивность желто-красного пигмента волоса) Локус I (интенсивность
                    желто-</h3>
                  <small>Срок выполнения:</small>
                  <p class="mb-4"><strong>3-5</strong> рабочих дней</p>
                  <div class="d-flex gap-2 align-items-baseline">
                    <p class="h4 text-black m-0">2150.00 ₽</p>
                    <p class="text-black text-decoration-line-through m-0">2990.00 ₽</p>
                  </div>
                </div>
                <button class="btn border fs-5 fw-medium pt-3 pb-3 lh-1">Оформить заказ</button>
              </div>
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="col-3">
              <div class="d-flex justify-content-start">
                <a class="btn border d-flex align-items-center p-2 ps-4 pe-4 border-black" href="#">
                  Все тесты
                  <svg>
                    <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                  </svg>
                </a>
              </div>
            </div>
            <div class="col-2">
              <div class="d-flex justify-content-end gap-3">
                <button class="btn border p-2 rounded-circle border-black">
                  <svg>
                    <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-slim-right"></use>
                  </svg>
                </button>
                <button class="btn border p-2 rounded-circle border-black">
                  <svg>
                    <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-slim-right"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
<%= htmlWebpackPlugin.options.temp %>
</body>

</html>