<!DOCTYPE html>
<html lang="ru">

<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body bg-body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
  <div class="container p-md-0 m-md-0">
    <section class="section section--full" style="background-image: url('./assets/images/doc-with-dog.jpg')">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-xl-11 col-lg-12">
            <div class="row justify-content-end h-100">
              <div class="col-xl-8 col-lg-12 mt-auto">
                <div class="intro-main">
                  <h1 class="main-title">Ветгеномика</h1>
                  <p class="intro-main__subtitle">Эксперт в области генетики домашних животных</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-2 d-none d-xl-block"></div>
      <div class="col-lg-12 col-xl-9">
        <section class="section" id="first">
          <div class="row">
            <div class="col-9">
              <h2 class="title">Популярные породы</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="tags-list mb-4 mb-lg-3 mb-md-2">
                <a href="#" class="tag">КОШКИ</a>
                <a href="#" class="tag">Собаки</a>
              </div>
              <div class="swiper swiper--default--xxl swiper--auto" data-slider="auto">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <article class="article-card-preview">
                      <a href="#" class="article-card-preview__link tag tag--link">
                        <svg>
                          <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-top-right"></use>
                        </svg>
                      </a>
                      <picture class="article-card-preview__picture">
                        <img src="./assets/images/dog.png" alt="">
                      </picture>
                      <button class="article-card-preview__button button button--transparent button--dark">Австралийская
                        овчарка
                      </button>
                    </article>
                  </div>
                  <div class="swiper-slide">
                    <article class="article-card-preview">
                      <a href="#" class="article-card-preview__link tag tag--link">
                        <svg>
                          <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-top-right"></use>
                        </svg>
                      </a>
                      <picture class="article-card-preview__picture">
                        <img src="./assets/images/dog.png" alt="">
                      </picture>
                      <button class="article-card-preview__button button button--transparent button--dark">Австралийская
                        овчарка
                      </button>
                    </article>
                  </div>
                  <div class="swiper-slide">
                    <article class="article-card-preview">
                      <a href="#" class="article-card-preview__link tag tag--link">
                        <svg>
                          <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-top-right"></use>
                        </svg>
                      </a>
                      <picture class="article-card-preview__picture">
                        <img src="./assets/images/dog.png" alt="">
                      </picture>
                      <button class="article-card-preview__button button button--transparent button--dark">Австралийская
                        овчарка
                      </button>
                    </article>
                  </div>
                  <div class="swiper-slide">
                    <article class="article-card-preview">
                      <a href="#" class="article-card-preview__link tag tag--link">
                        <svg>
                          <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-top-right"></use>
                        </svg>
                      </a>
                      <picture class="article-card-preview__picture">
                        <img src="./assets/images/dog.png" alt="">
                      </picture>
                      <button class="article-card-preview__button button button--transparent button--dark">Австралийская
                        овчарка
                      </button>
                    </article>
                  </div>
                  <div class="swiper-slide">
                    <article class="article-card-preview">
                      <a href="#" class="article-card-preview__link tag tag--link">
                        <svg>
                          <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-top-right"></use>
                        </svg>
                      </a>
                      <picture class="article-card-preview__picture">
                        <img src="./assets/images/dog.png" alt="">
                      </picture>
                      <button class="article-card-preview__button button button--transparent button--dark">Австралийская
                        овчарка
                      </button>
                    </article>
                  </div>
                  <div class="swiper-slide">
                    <article class="article-card-preview">
                      <a href="#" class="article-card-preview__link tag tag--link">
                        <svg>
                          <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-top-right"></use>
                        </svg>
                      </a>
                      <picture class="article-card-preview__picture">
                        <img src="./assets/images/dog.png" alt="">
                      </picture>
                      <button class="article-card-preview__button button button--transparent button--dark">Австралийская
                        овчарка
                      </button>
                    </article>
                  </div>
                </div>
                <div class="swiper-info">
                  <a class="button button--icon button--small button--dark" href="#">
                    Все породы
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                    </svg>
                  </a>
                  <div class="swiper-control ms-auto">
                    <button class="slider-btn slider-btn--prev">
                      <svg>
                        <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-slim-right"></use>
                      </svg>
                    </button>
                    <button class="slider-btn slider-btn--next">
                      <svg>
                        <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-slim-right"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section" id="second">
          <div class="row">
            <div class="col-9">
              <h2 class="title">Новости</h2>
            </div>
          </div>
          <div class="row row-gap-4 mb-4">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <article class="article-news">
                <picture class="article-news__picture">
                  <img src="./assets/images/temp-animal.jpg" alt="">
                </picture>
                <h3 class="article-news__title text-overflow text-overflow--2">
                  Заголовок побольше. Состоящий из 50 символов Заголовок побольше. Состоящий из 50 символов
                </h3>
                <p class="article-news__text text-overflow text-overflow--3">
                  Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру Сайт рыбатекст поможет дизайнеру,
                  верстальщику, вебмастеру
                </p>
                <div class="article-news__footer">
                  <time class="article-news__time" datetime="2022.03.18">18.03.2022</time>
                  <a href="#" class="read-more">
                    Подробнее
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                    </svg>
                  </a>
                </div>
              </article>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <article class="article-news">
                <picture class="article-news__picture">
                  <img src="./assets/images/temp-animal.jpg" alt="">
                </picture>
                <h3 class="article-news__title text-overflow text-overflow--2">
                  Заголовок побольше. Состоящий из 50 символов Заголовок побольше. Состоящий из 50 символов
                </h3>
                <p class="article-news__text text-overflow text-overflow--3">
                  Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру Сайт рыбатекст поможет дизайнеру,
                  верстальщику, вебмастеру
                </p>
                <div class="article-news__footer">
                  <time class="article-news__time" datetime="2022.03.18">18.03.2022</time>
                  <a href="#" class="read-more">
                    Подробнее
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                    </svg>
                  </a>
                </div>
              </article>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <article class="article-news">
                <picture class="article-news__picture">
                  <img src="./assets/images/temp-animal.jpg" alt="">
                </picture>
                <h3 class="article-news__title text-overflow text-overflow--2">
                  Заголовок побольше. Состоящий из 50 символов Заголовок побольше. Состоящий из 50 символов
                </h3>
                <p class="article-news__text text-overflow text-overflow--3">
                  Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру Сайт рыбатекст поможет дизайнеру,
                  верстальщику, вебмастеру
                </p>
                <div class="article-news__footer">
                  <time class="article-news__time" datetime="2022.03.18">18.03.2022</time>
                  <a href="#" class="read-more">
                    Подробнее
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                    </svg>
                  </a>
                </div>
              </article>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <article class="article-news">
                <picture class="article-news__picture">
                  <img src="./assets/images/temp-animal.jpg" alt="">
                </picture>
                <h3 class="article-news__title text-overflow text-overflow--2">
                  Заголовок побольше. Состоящий из 50 символов Заголовок побольше. Состоящий из 50 символов
                </h3>
                <p class="article-news__text text-overflow text-overflow--3">
                  Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру Сайт рыбатекст поможет дизайнеру,
                  верстальщику, вебмастеру
                </p>
                <div class="article-news__footer">
                  <time class="article-news__time" datetime="2022.03.18">18.03.2022</time>
                  <a href="#" class="read-more">
                    Подробнее
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                    </svg>
                  </a>
                </div>
              </article>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <article class="article-news">
                <picture class="article-news__picture">
                  <img src="./assets/images/temp-animal.jpg" alt="">
                </picture>
                <h3 class="article-news__title text-overflow text-overflow--2">
                  Заголовок побольше. Состоящий из 50 символов Заголовок побольше. Состоящий из 50 символов
                </h3>
                <p class="article-news__text text-overflow text-overflow--3">
                  Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру Сайт рыбатекст поможет дизайнеру,
                  верстальщику, вебмастеру
                </p>
                <div class="article-news__footer">
                  <time class="article-news__time" datetime="2022.03.18">18.03.2022</time>
                  <a href="#" class="read-more">
                    Подробнее
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                    </svg>
                  </a>
                </div>
              </article>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <a class="button button--icon button--small button--dark" href="#">
                Все новости
                <svg>
                  <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </section>
        <section class="section" id="third">
          <div class="row">
            <div class="col-9">
              <h2 class="title">Как заказать тест<br /> и получить результат?</h2>
            </div>
          </div>
          <div class="row align-items-center flex-sm-column flex-md-row mb-4">
            <div class="col-md-4 col-sm-8 mb-sm-4 pb-sm-2 pb-md-0 mb-md-0">
              <picture class="picture">
                <img src="./assets/images/question-1.png" alt="">
              </picture>
            </div>
            <div class="col-md-8 col-sm-12">
              <div class="text-block">
                <h3 class="text-block__title">
                  Добавить в корзину<br /> необходимые тесты
                </h3>
                <p class="text-block__text text-overflow text-overflow--4">
                  Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее
                  осмысленного текста рыбы на русском языке, а начинающему оратору...
                </p>
              </div>
            </div>
          </div>
          <div class="row align-items-center flex-sm-column-reverse flex-md-row mb-4">
            <div class="col-md-8 col-sm-12">
              <div class="text-block">
                <h3 class="text-block__title">
                  Оплатить заказ
                </h3>
                <p class="text-block__text text-overflow text-overflow--4">
                  Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более
                  менее осмысленного текста рыбы на русском языке, а начинающему оратору...
                </p>
              </div>
            </div>
            <div class="col-md-4 col-sm-8 mb-sm-4 pb-sm-2 pb-md-0 mb-md-0">
              <picture class="picture">
                <img src="./assets/images/question-2.png" alt="">
              </picture>
            </div>
          </div>
          <div class="row align-items-center flex-sm-column flex-md-row mb-4">
            <div class="col-md-4 col-sm-8 mb-sm-4 pb-sm-2 pb-md-0 mb-md-0">
              <picture class="picture">
                <img src="./assets/images/question-3.png" alt="">
              </picture>
            </div>
            <div class="col-md-8 col-sm-12">
              <div class="text-block">
                <h3 class="text-block__title">
                  Отправить генетически материал
                </h3>
                <p class="text-block__text text-overflow text-overflow--4">
                  Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее
                  осмысленного текста рыбы на русском языке, а начинающему оратору...
                </p>
                <a href="#" class="read-more align-self-end">
                  Подробнее
                  <svg>
                    <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="row align-items-center flex-sm-column-reverse flex-md-row">
            <div class="col-md-8 col-sm-12">
              <div class="text-block">
                <h3 class="text-block__title">
                  Оплатить заказ
                </h3>
                <p class="text-block__text text-overflow text-overflow--4">
                  Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более
                  менее осмысленного текста рыбы на русском языке, а начинающему оратору...
                </p>
              </div>
            </div>
            <div class="col-md-4 col-sm-8 mb-sm-4 pb-sm-2 pb-md-0 mb-md-0">
              <picture class="picture">
                <img src="./assets/images/question-2.png" alt="">
              </picture>
            </div>
          </div>
        </section>
        <section class="section" id="fourth">
          <div class="row">
            <div class="col-9">
              <h2 class="title">Частые вопросы</h2>
            </div>
          </div>
          <div class="row row-gap-2">
            <div class="col-12">
              <article class="article-faq transparent" data-toggle>
                <div class="article-faq__top">
                  <p class="article-faq__title">
                    Как правильно собрать материал для анализа?
                  </p>
                  <button class="article-faq__icon">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__content" data-toggle-inner>
                  <div class="editor">
                    <p>
                      Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                      такие собаки имеют коричневый/шоколадный окрас.Наша лаборатория проводит тесты на три варианта
                      аллеля b: bs, bd и bc, которые встречаются во многих породах.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12">
              <article class="article-faq transparent" data-toggle>
                <div class="article-faq__top">
                  <p class="article-faq__title">
                    Как правильно собрать материал для анализа?
                  </p>
                  <button class="article-faq__icon">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__content" data-toggle-inner>
                  <div class="editor">
                    <p>
                      Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                      такие собаки имеют коричневый/шоколадный окрас.Наша лаборатория проводит тесты на три варианта
                      аллеля b: bs, bd и bc, которые встречаются во многих породах.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12">
              <article class="article-faq transparent" data-toggle>
                <div class="article-faq__top">
                  <p class="article-faq__title">
                    Как правильно собрать материал для анализа?
                  </p>
                  <button class="article-faq__icon">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__content" data-toggle-inner>
                  <div class="editor">
                    <p>
                      Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                      такие собаки имеют коричневый/шоколадный окрас.Наша лаборатория проводит тесты на три варианта
                      аллеля b: bs, bd и bc, которые встречаются во многих породах.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12">
              <article class="article-faq transparent" data-toggle>
                <div class="article-faq__top">
                  <p class="article-faq__title">
                    Как правильно собрать материал для анализа?
                  </p>
                  <button class="article-faq__icon">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__content" data-toggle-inner>
                  <div class="editor">
                    <p>
                      Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                      такие собаки имеют коричневый/шоколадный окрас.Наша лаборатория проводит тесты на три варианта
                      аллеля b: bs, bd и bc, которые встречаются во многих породах.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12">
              <article class="article-faq transparent" data-toggle>
                <div class="article-faq__top">
                  <p class="article-faq__title">
                    Как правильно собрать материал для анализа?
                  </p>
                  <button class="article-faq__icon">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__content" data-toggle-inner>
                  <div class="editor">
                    <p>
                      Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                      такие собаки имеют коричневый/шоколадный окрас.Наша лаборатория проводит тесты на три варианта
                      аллеля b: bs, bd и bc, которые встречаются во многих породах.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12">
              <article class="article-faq transparent" data-toggle>
                <div class="article-faq__top">
                  <p class="article-faq__title">
                    Как правильно собрать материал для анализа?
                  </p>
                  <button class="article-faq__icon">
                    <svg>
                      <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__content" data-toggle-inner>
                  <div class="editor">
                    <p>
                      Собаки генотипа b/b не могут производить черный пигмент, вместо него образуется коричневый. Часто
                      такие собаки имеют коричневый/шоколадный окрас.Наша лаборатория проводит тесты на три варианта
                      аллеля b: bs, bd и bc, которые встречаются во многих породах.
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="circle circle--main-green">
    <img src="./assets/images/cricles-green.svg" alt="">
  </div>
  <div class="circle circle--main-blue">
    <img src="./assets/images/circles-blue.svg" alt="">
  </div>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>

</html>